<h1>Location Details</h1>

<div class="container-fluid" style="padding-bottom: 100px; padding-left: 50px;">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-3">
        <mat-card *ngIf="location" class="example-card" >
          <mat-card-header> </mat-card-header>
          <img mat-card-image [src]="getImageUrl(location.name)" alt="{{ location.name }}" />
          <mat-card-content>
            <mat-card-title  >
              {{ location.name }}
            </mat-card-title>
            <span><strong>Dimension:</strong> {{ location.dimension }}</span>
            <br>
            <span><strong>Type:</strong> {{ location.type }}</span>
            <br>
            <br>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>

